* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  border: 2px solid black;
  margin: auto;
  margin-top: 50px;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 50px;
  background-color:#eeecec;
}

                   /*! İCONBAR */
 .icon-bar{
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 3rem;
    border-bottom: 2px solid #d9d9d9;

 }


.input-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.logo {
  height: 50px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: -1px 1px 5px;
}

#input-part {
  width: 188px;
  height: 40px;
  background-color: #d9d9d9;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.1rem;
  border-color: rgba(0, 0, 0, 0.1);
}

.input-text {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 5px;
  width: 300px;
  height: 40px;
}

.input-text input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: inherit;
}

.input-text img {
  padding: 1.5rem;
}

.number{
    font-size: 1.2rem;
    font-weight: 600;
}

.support{
    font-size: 0.8rem;
}

.support-number{
    margin-left: 20px;
    text-align: right;
}

.icons{
    margin-left:20px;İ
}

.icons img{
    padding: 10px;
}
           /*!!! NAVBAR !!!*/

.nav-bar{
  margin-top: 1rem;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px 50px;

}   

.button{
  
  width: 309px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  background-color: #d9d9d9;
  font-size: 1.3rem;
  font-weight: 400;
  
}

.button p{
  margin-left: 1rem;
}

.navbar{
margin-left: 1rem;
margin-top: 1rem;
list-style: none;
display: flex;
gap: 1rem;
padding: 10px;
font-size: 1.3rem;
color: rgba(0, 0, 0, 0.7);
}
                /*!!! HEADER !!!*/
header{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-image:url(./Resimler/stock.jpg);

}

.essential{
width: 800px;
height: 300px;
background-color:#d5dee5 ;
display: flex;
align-items: center;
border-radius: 5px;
box-shadow: 5px 5px 10px black;
margin-top: 30px;
}

.essentiel-text{
  padding: 20px;
  font-size: 2rem;
  font-weight:400rem ;
  letter-spacing: 0.3rem;
}

.lighting{
  background-color:#ffc868;
  width: 400px;
  height: 300px;
  margin-left: 3rem;
  border-radius: 5px;
  box-shadow: 5p 5px 10px black;

}

.lighting img{
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.lighting p{
  width: 80%;
  float: right;
  margin-bottom: -200px;
  padding: 2rem;
 direction: rtl;
 line-height: 1.3;
 font-style: italic;

}

